:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #ED1C24;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #ffffff;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 30px;
  top: calc(50% - 15px);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.overlay1 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.bg-light {
  background-color: #ffffff !important;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #e6e6e6 !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.position-relative {
/*  position: relative !important;*/
  height: 200px;
  width: 200px;
  margin: 20px;
  display: flex;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-white {
  color: #fff !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

h4, .h4 {
  font-size: 1.5rem;
}

.m-0 {
  margin: 0 !important;
}